[project]
	description = practice for gerrit code review tool
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/daphne-spencer (daphne-spencer)
[access "refs/for/refs/*"]
	read = group user/daphne-spencer (daphne-spencer)
	push = group user/daphne-spencer (daphne-spencer)
	label-Code-Review = -2..+2 group user/daphne-spencer (daphne-spencer)
	label-Verified = -1..+1 group user/daphne-spencer (daphne-spencer)
	rebase = group user/daphne-spencer (daphne-spencer)
	removeReviewer = group user/daphne-spencer (daphne-spencer)
	submit = group user/daphne-spencer (daphne-spencer)
[access "refs/heads/*"]
	read = group user/daphne-spencer (daphne-spencer)
	create = group user/daphne-spencer (daphne-spencer)
	push = +force group user/daphne-spencer (daphne-spencer)
	pushMerge = group user/daphne-spencer (daphne-spencer)
[access "refs/tags/*"]
	push = group user/daphne-spencer (daphne-spencer)
	push = +force group user/daphne-spencer (daphne-spencer)
